<div class="container">
  <app-sidebar-menu></app-sidebar-menu>

  <div class="content">
    <h1>Configurações</h1>

    <form [formGroup]="userForm" (ngSubmit)="onUpdate()">
      <div class="input-with-edit-button">
        <div class="field">
          <input
            pInputText
            type="text"
            placeholder="Nome do usuário"
            formControlName="nameUser"
          />
        </div>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text p-button-lg editar"
          (click)="enableNameInput()"
          *ngIf="!userForm.get('nameUser')?.enabled"
        ></button>
      </div>

      <div class="input-with-edit-button">
        <div class="field">
          <input
            pInputText
            type="text"
            placeholder="Email do usuário"
            formControlName="emailUser"
          />
        </div>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text p-button-lg editar"
          (click)="enableEmailInput()"
          *ngIf="!userForm.get('emailUser')?.enabled"
        ></button>
      </div>

      <div class="input-with-edit-button">
        <div class="field">
          <input
            pInputText
            type="password"
            placeholder="Senha do usuário"
            formControlName="passwordUser"
          />
        </div>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text p-button-lg editar"
          (click)="enablePasswordsInput()"
          *ngIf="!userForm.get('passwordUser')?.enabled"
        ></button>
      </div>

      <div class="field">
        <input
          pInputText
          type="password"
          placeholder="Nova senha do usuário"
          formControlName="newPasswordUser"
        />
      </div>

      <div class="field">
        <input
          pInputText
          type="password"
          placeholder="Confirmar senha do usuário"
          formControlName="confirmPasswordUser"
        />
      </div>

      <button
        pButton
        type="submit"
        label="Salvar Alterações"
        class="btn-adicionar"
      ></button>

      <button
        pButton
        type="button"
        label="Cancelar"
        class="btn-cancelar"
        (click)="cancelar()"
      ></button>
    </form>
  </div>
</div>
