:root {
  // === Brand Colours ===
  --color-brand-red: #e0533d;
  --color-brand-purple: #9da7d0;
  --color-brand-green: #469b88;
  --color-brand-blue: #377cc8;

  --color-brand-pink: #e78c9d;
  --color-brand-lilac: #d9d8f7;
  --color-brand-neon-green: #16df7f;
  --color-brand-sky-blue: #2881e4;

  // === Base Colours ===
  --color-white: #ffffff;
  --color-black: #242424;
  --color-yellow: #eed868;
  --color-gray: #848484;

  // === Aura Theme Overrides ===
  --aura-primary: var(--color-brand-blue); // Cor principal do tema
  --aura-primary-hover: #2e6fb4;
  --aura-primary-active: #285f9e;

  --aura-secondary: var(--color-brand-purple);
  --aura-text-color: var(--color-black);
  --aura-surface: var(--color-white);
  --aura-surface-border: var(--color-gray);

  // === PrimeNG Specific Variables ===
  --p-button-bg: var(--aura-primary);
  --p-button-text-color: var(--color-white);
  --p-inputtext-color: var(--color-black);
  --p-card-bg: var(--color-white);
  --p-card-border: 1px solid var(--color-gray);
}
