.container {
  display: flex;
  gap: 20px;
  // padding: 20px;
  background-color: var(--color-background-home);

  .content {
    flex: 1;
    // background-color: white;
    padding: 20px;
    border-radius: 6px;
    min-height: 80vh;
  }
}

h3 {
  color: var(--color-gray);
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--color-black);
  margin-top: 0;
}
