<div class="sidebar-container">
  <p-confirmDialog styleClass="custom-confirm-dialog"></p-confirmDialog>
  <div class="logo">
    <img src="assets/img/logo.png" alt="Logo" width="50" />
    <span>Organiza-se</span>
  </div>

  <div class="suporte"></div>

  <div class="theme-toggle-container">
    <div class="dark-mode-switch-v2">
      <input
        type="checkbox"
        id="darkModeToggle"
        [checked]="isDarkMode"
        (change)="toggleTheme()"
      />
      <label for="darkModeToggle" class="switch-slider">
        <i
          class="pi theme-handle-icon"
          [class.pi-sun]="!isDarkMode"
          [class.pi-moon]="isDarkMode"
        ></i>

        <i class="pi pi-sun theme-background-icon light-mode-bg-icon"></i>
        <i class="pi pi-moon theme-background-icon dark-mode-bg-icon"></i>
      </label>
    </div>
  </div>
  <nav>
    <ul>
      <li
        *ngFor="let item of menuItems"
        [class]="item.class || 'menu-item'"
        [class.active]="item.route !== '/login' && activeRoute === item.route"
        (click)="item.route === '/login' ? sair() : navegar(item.route)"
      >
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </li>
    </ul>
  </nav>

  <div class="suporte">
    <nav>
      <ul>
        <li
          [class]="'menu-item'"
          [class.active]="activeRoute === '/suporte'"
          (click)="navigateToSupport()"
        >
          <i class="pi pi-phone"></i>
          <span>Suporte</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
