.sidebar-container {
  width: 300px;
  background-color: var(--color-white);
  // height: calc(100vh - 2rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // border-radius: 6px;
  // padding: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // margin: 1rem;
  // border: 1px solid #e0e0e0;
}

.sidebar-container .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  // padding-bottom: 1rem;
  // border-bottom: 1px solid #e0e0e0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;

  span {
    padding-bottom: 1rem;
  }
}

.sidebar-container .logo .logo-square {
  width: 36px;
  height: 36px;
  background-color: var(--color-sky-blue);
  border-radius: 6px;
}

.sidebar-container .logo span {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-black);
}

/* PrimeNG Divider Specific Styles */
// :host ::ng-deep .p-divider {
//   .p-divider-content {
//     display: none; /* Hide any content if you don't want text in the divider */
//   }
//   .p-divider-solid.p-divider-horizontal:before {
//     border-top: 1px solid #e0e0e0; /* Match your desired border color */
//     margin-left: 1.5rem; /* Add left margin to the divider line */
//     margin-right: 1.5rem; /* Add right margin to the divider line */
//   }
// }

.sidebar-container nav {
  flex-grow: 1;
}

.sidebar-container nav ul {
  list-style: none;
  padding: 0;
  padding-left: 1rem;
  margin: 3rem 0;
}

.sidebar-container nav ul .menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 1.5rem;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-black);
  transition: background-color 0.2s, color 0.2s;
  margin-right: 20px;
  margin-bottom: 2px;
}

.sidebar-container nav ul .menu-item i {
  font-size: 1.25rem;
  color: var(--color-black);
}

.sidebar-container nav ul .menu-item:hover {
  background-color: var(--color-sky-blue-suave);
  color: var(--color-sky-blue);
  margin-right: 20px;
}

.sidebar-container nav ul .menu-item:hover i {
  color: var(--color-sky-blue);
}

.sidebar-container nav ul .sair {
  color: var(--color-red);
}

.sidebar-container nav ul .sair i {
  color: var(--color-red);
}

.sidebar-container nav ul .sair:hover {
  background-color: var(--color-red-suave);
  color: var(--color-red);
  margin-right: 20px;
}

.sidebar-container nav ul .sair:hover i {
  color: var(--color-red);
}

.sidebar-container nav ul .menu-item.active {
  background-color: var(--color-sky-blue-suave);
  color: var(--color-sky-blue);
  font-weight: 600;

  border-left: 4px solid var(--color-sky-blue);
  padding-left: calc(1.5rem - 4px);
  margin-right: 20px;
}

.sidebar-container nav ul .menu-item.active i {
  color: var(--color-sky-blue);
}

.suporte {
  display: flex;
  align-items: center;
  cursor: default;
  padding-top: 1rem;
  height: 50px;
  border-top: 1px solid #e0e0e0;
}

.sidebar-container .suporte i {
  font-size: 1.2rem;
  color: #555;
  padding-left: 12px;
  padding-right: 8px;
}
