.container-depesas-receitas {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

p-card {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 36rem;
  height: auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.custom-dashed-button {
  display: flex;
  width: 90%;
  background-color: #f0f0f0 !important;
  color: #333 !important;
  border: 2px dashed #999 !important;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none !important;
  padding: 0.5rem;
  margin: 0 auto 1.5rem auto;
}

.custom-dashed-button:hover {
  background-color: #f0f0f0 !important;
  border-color: #999 !important;
  color: #333 !important;
}

h1 {
  color: var(--color-black);
  margin-bottom: 1rem;
}

.expenses-list {
  margin-top: 1rem;
}

.expense-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--color-black);
}

.expense-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.expense-name {
  font-weight: bold;
  color: var(--color-black);
}

.expense-date {
  font-size: 0.85rem;
  color: #888;
}

.expense-amount {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-black);
  text-align: right;
}

.expense-amount.negative {
  color: #e53935;
}

.revenues-list {
  margin-top: 1rem;
}

.revenue-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.revenue-item:last-child {
  border-bottom: none;
}

.revenue-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--color-black);
}

.revenue-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.revenue-name {
  font-weight: bold;
  color: var(--color-black);
}

.revenue-date {
  font-size: 0.85rem;
  color: #888;
}

.revenue-amount {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-black);
  text-align: right;
}

.revenue-amount.negative {
  color: #e53935;
}
