<div class="container-depesas-receitas">
  <div>
    <h1>Depesas</h1>
    <p-card>
      <button
        pButton
        type="button"
        label="Adicionar despesa"
        class="p-button-secondary custom-dashed-button"
        (click)="goToAddDespesa()"

      ></button
    ></p-card>
  </div>

  <div>
    <h1>Receitas</h1>
    <p-card>
      <button
        pButton
        type="button"
        label="Adicionar receita"
        class="p-button-secondary custom-dashed-button"
        (click)="goToAddReceita()"
      ></button>
    </p-card>
  </div>
</div>
