.container-principal {
  display: flex;
  // gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  flex-direction: column;
}

.container-despesas-receitas {
  display: flex;
  flex-direction: row;
}

.filter-container {
  span {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 20%;
    color: var(--color-black);
    font-weight: bold;
    margin-top: 1rem;
  }
}

.container-despesas {
  padding-right: 2%;
}

p-card {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 36rem;
  height: auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.p-button-rounded.editar {
  color: var(--color-neon-green);
  width: 2.2rem;
  height: 1.8em;
  &:hover {
    color: var(--color-black);
    background-color: rgba(var(--color-green-rgb), 0.5);
  }
}

.p-button-rounded.excluir {
  color: var(--color-red);
  width: 2.2rem;
  height: 1.8em;
  &:hover {
    color: var(--color-black);
    background-color: #fecaca;
  }
}

.custom-dashed-button {
  display: flex;
  width: 90%;
  background-color: #f0f0f0 !important;
  color: #333 !important;
  border: 2px dashed #999 !important;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none !important;
  padding: 0.5rem;
  margin: 0 auto 1.5rem auto;
}

.custom-dashed-button:hover {
  background-color: #f0f0f0 !important;
  border-color: #999 !important;
  color: #333 !important;
}

h1 {
  color: var(--color-black);
  margin-bottom: 1rem;
}

.expenses-list {
  margin-top: 1rem;
  width: 90%;
  margin: 0 auto;
}

.expense-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 30%;
}

.expense-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.expense-name {
  font-weight: bold;
  color: var(--color-black);
}

.expense-date {
  font-size: 0.85rem;
  color: #888;
}

.expense-amount {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-black);
  text-align: right;
  padding-right: 2vh;
}

.expense-amount.negative {
  color: #e53935;
}

.revenues-list {
  margin-top: 1rem;
  width: 90%;
  margin: 0 auto;
}

.revenue-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.revenue-item:last-child {
  border-bottom: none;
}

.revenue-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 30%;
}

.revenue-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.revenue-name {
  font-weight: bold;
  color: var(--color-black);
}

.revenue-date {
  font-size: 0.85rem;
  color: #888;
}

.revenue-amount {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-black);
  text-align: right;
  padding-right: 2vh;
}

.revenue-amount.negative {
  color: #e53935;
}

::ng-deep .p-dialog {
  background-color: var(--color-var);
  // border: 2px solid #f44336; // borda vermelha (opcional)
  border-radius: 50%;
  color: var(--color-white);
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: var(--color-white);
  color: var(--color-sky-blue);
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: var(--color-white);
  color: var(--color-sky-blue);
  padding-left: 2.1vh;
}

::ng-deep .p-dialog .p-dialog-footer {
  background-color: var(--color-white);
  color: var(--color-sky-blue);
}

::ng-deep .p-dialog .p-dialog-footer {
  background-color: var(--color-white);
  color: var(--color-sky-blue);

  .p-confirmdialog-accept-button {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-white);

    &:hover {
      color: var(--color-black);
      border-color: rgba(var(--color-gren-rgb), 0.5);

      background-color: rgba(var(--color-green-rgb), 0.5);
    }
  }
}

::ng-deep .p-dialog .p-dialog-footer {
  background-color: var(--color-white);
  color: var(--color-sky-blue);

  .p-confirmdialog-reject-button {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-white);

    &:hover {
      background-color: rgba(var(--color-red-rgb), 0.7);
      border-color: rgba(var(--color-gren-rgb), 0.5);

      color: var(--color-black);
    }
  }
}

::ng-deep {
  .p-inputtext {
    flex-grow: 1;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 1rem;
    color: #03488d;
    // background-color: #ffffff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 0;

    // &:focus {
    // border-color: var(--primary-color, #6366f1) !important;
    // box-shadow: 0 0 0 0.2rem rgba(99, 102, 241, 0.25) !important;
    // outline: 0 none;
    // }
  }

  .p-datepicker {
    // background-color: var(--color-background-home, #ffffff) !important;
    // border: 1px solid #ced4da !important;
    border-radius: 6px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // color: var(--color-black, #000000) !important;

    .p-datepicker-month-selected {
      background-color: var(--color-background, #ffffff) !important;
      color: var(--color-black, #000000) !important;

      &:focus {
        background-color: red !important;
      }
    }

    span {
      color: var(--color-black, #000000) !important;

      &:hover {
        background-color: var(--color-sky-blue) !important;
        color: var(--color-black, #000000) !important;
      }
    }

    button {
      color: var(--color-black, #000000) !important;
      background-color: var(--color-background, #ffffff) !important;
      border: 0;
    }

    div {
      color: var(--color-background-home, #ffffff) !important;
      background-color: var(--color-background-home, #ffffff) !important;
      border-color: var(--primary-color, #6366f1) !important;
    }

    .p-datepicker-input {
      flex-grow: 1;
      padding: 0.75rem 0.75rem;
      // border: 1px solid #ced4da;
      border-radius: 6px;
      font-size: 1rem;
      color: #495057;
      background-color: #ffffff;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin-left: 0;

      // &:focus {
      //   border-color: var(--primary-color, #6366f1);
      //   box-shadow: 0 0 0 0.2rem rgba(99, 102, 241, 0.25);
      //   outline: 0 none;
      // }
    }

    input {
      border: 0px;
    }
  }
}
